<h1 class="text-center my-4">Admin Dashboard</h1>

<div class="container">
  <div class="card shadow-lg p-4">
    <table class="table table-bordered table-striped table-hover">
      <thead class="thead-dark text-center">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>User Type</th>
          <th>Enable/Disable</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr class="align-middle">
            <td class="text-center"><%= user.name %></td>
            <td class="text-center"><%= user.email %></td>
            <td class="text-center">
              <%= form_with url: update_user_type_admin_user_path(user), method: :patch, local: true, class: "d-flex gap-2 align-items-center justify-content-center" do |f| %>
                <%= f.select :user_type, User.user_types.keys, { selected: user.user_type }, class: "form-select w-auto" %>
                <%= f.submit "Update", class: "btn btn-primary btn-sm" %>
              <% end %>
            </td>
            <td class="text-center">
              <%= form_with url: toggle_user_admin_path(user), method: :patch, local: true do |f| %>
                <%= f.submit user.enabled? ? "Disable" : "Enable", class: "btn btn-#{user.enabled? ? 'danger' : 'success'} btn-sm", data: { confirm: "Are you sure?" } %>
              <% end %>
            </td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
